<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %> 
  <body>
    <%- include('../partials/navbar') %> 
    <section id="about">
        <div class="container my-5">
            <h1>Introduction</h1>
            <form>
                <div class="form-group" id="about-form">
                    <label for="about" class="my-2 fw-bold">Edit Introduction</label>
                    <textarea type="text" name="about" row="3" class="form-control"><%= about %> </textarea>
                </div>
                <button class="btn btn-primary mt-2 float-end" type="submit" id="submit-about">Edit</button>
            </form>
        </div>
    </section>
    <section id="portofolio">
        <div class="container">
            <h1 class="my-5">Portofolio</h1>
            <div class="animation-element slide-left d-flex flex-column justify-content-center">
                <div id="portofolio-container" class="row mb-5 flex-nowrap overflow-auto">
                    <% portofolios.forEach(item => {%>
                        <div class="portofolio-item card d-flex align-items-center justify-content-center mx-2">
                            <a href="<%= item.link %>"  class="text-decoration-none p-0 m-2 thumbnail" target="_blank">
                                <img class="card-img-top thumbnail" src="<%= item.thumbnail_url %>" alt="<%= item.name %>">
                                <h6 class="card-title my-3 mx-auto text-dark text-center"><%= item.name %></h6>
                            </a>
                            <div class="d-flex flex-row my-5 justify-content-evenly w-100">
                                <a href="/portofolio/update/<%= item.id %> ">
                                    <button class="btn btn-primary portofolio-btn">Edit</button>
                                </a>
                                <button class="btn btn-danger portofolio-btn delete-btn" data-id=<%= item.id %>>Delete</button>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </section>
    <%- include('../partials/footer.ejs') %> 
    <script>
        $(() => {
            $('.delete-btn').on('click', (event) => {
                let $target = $(event.target);

                $.ajax({
                    url:`/portofolio/delete/${$target.data("id")}`,
                    type:'DELETE',
                    success:(res) => {
                        $target.closest('.portofolio-item').remove();
                        let aboutForm = $('#about-form');

                        if ($('#about-alert').length > 0) {
                            $('#about-alert').remove();
                        }
                        setTimeout(() => aboutForm.append(`<div class="alert alert-success alert-dismissable fade show my-1" id="about-alert">
                            ${res.message}
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>`), 300);
                        }
                    });
            });
            $('#submit-about').on('click', (event) => {
                let about = $('textarea[name=about]').val();
                $.ajax({
                    url:'/about/update',
                    type:'PUT',
                    data: { about }, 
                    success:(res) => {
                        let aboutForm = $('#about-form');

                        if ($('#about-alert').length > 0) {
                            $('#about-alert').remove();
                        }
                        setTimeout(() => aboutForm.append(`<div class="alert alert-success alert-dismissable fade show my-1" id="about-alert">
                            ${res.message}
                            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>`), 300);
                        }
                    });
                    event.preventDefault();
                })
            })
    </script>
  </body>
</html>