<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %> 
  <body>
    <%- include('../partials/navbar') %> 
    <div class="container">
        <div class="animation-element slide-left d-flex flex-column align-items-center justify-content-center min-vh-100">
        <h1 class="my-5">My Portofolio</h1>
        <div id="portofolio-container" class="row mb-5">
            <% portofolios.forEach(item => {%>
            <a href=<%= item.link %>  class="col text-decoration-none p-0 m-2 thumbnail" target="_blank">
                <div class="portofolio-item card col d-flex align-items-center justify-content-center">
                <img class="card-img-top thumbnail" src=<%= item.thumbnail_url %> alt=<%= item.name %>>
                <h6 class="card-title my-3 mx-auto text-dark text-center"><%= item.name %></h6>
                </div>
            </a>
            <% }) %>
        </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %> 
  </body>
</html>