<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header', { title: "Register" }) %> 
<body>
    <div class="container">
        <div class="row align-items-center justify-content-center" style="height: 80vh">
            <form action="/user/register" method="post" class="col-md-4">
                <div class="form-group mt-3">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control input-sm">
                </div>
                <div class="form-group mt-3">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control input-sm" rows=3></textarea>
                </div>
                
                <button class="btn btn-primary mt-2 float-end" type="submit">Register</button>
            </form>
        </div>
    </div>
    <%- include('../partials/footer') %> 
</body>
</html>