<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header', { title: "Create" }) %> 
<body>
    <%- include('../partials/navbar') %> 
    <div class="container">
        <form action="/portofolio/create" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <br />  
                <label for="title">Name</label>
                <br /> 
                <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="body">Link</label>
                <br /> 
                <input type="text" name="link" class="form-control">
                <br /> 
            </div>
            <div class="form-group">
                <label for="thumbnail" class="form-label">Image thumbnail</label>
                <input class="form-control" type="file" name="thumbnail" id="thumbnail" accept="image/*">
            </div>
            <button class="btn btn-primary mt-2" type="submit">Submit</button>
        </form>
    </div>
</body>
</html>