<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header') %> 
  <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex flex-row justify-content-between fixed-top">
          <a class="navbar-brand px-4" href="#">Raihan Luthfi Haryawan</a>
          <button class="navbar-toggler mr-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse flex-grow-0 px-4" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#portofolio">Portofolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item mx-4 rounded-pill">
                <a class="nav-link" href="/user/login">
                  <button class="btn btn-light">Login</button>
                </a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link bg-light text-dark" href="/user/register">Register</a>
              </li> -->
            </ul>
          </div>
      </nav>
      <section id="about" class="bg-primary">
        <div class="container mt-5">
          <div class="animation-element slide-left d-flex flex-column align-items-center justify-content-center text-light min-vh-100">
            <h1 class="mt-5">About Me</h1>
            <img class="avatar my-5 rounded-circle" src="/assets/img/avatar.jpg" alt="..." />
            <p class="mb-5 lead text-center"><%= about %> </p>
          </div>
        </div>
      </section>
      <section id="portofolio" class="bg-light">
        <div class="container">
          <div class="animation-element slide-left d-flex flex-column align-items-center justify-content-center min-vh-100">
          <h1 class="my-5">My Portofolio</h1>
          <div id="portofolio-container" class="row mb-5">
            <% portofolios.forEach(item => {%>
              <a href="<%= item.link %>"  class="col text-decoration-none p-0 m-2 thumbnail my-5" target="_blank">
                <div class="portofolio-item card col d-flex align-items-center justify-content-center">
                  <img class="card-img-top thumbnail" src="<%= item.thumbnail_url %>" alt="<%= item.name %>">
                  <h6 class="card-title my-3 mx-auto text-dark text-center"><%= item.name %></h6>
                </div>
              </a>
            <% }) %>
          </div>
          </div>
        </div>
      </section>
      <section id="contact" class="bg-primary">
        <div class="container d-flex flex-column align-items-center justify-content-center text-light min-vh-100">
          <div class="animation-element slide-left">
            <h1 class="my-5">Contact Me</h1>
            <div class="row">
              <a href="https://linkedin.com/in/raihanlh" class="text-decoration-none text-light mb-5 col" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                </svg>
              </a>
              <a href="https://github.com/raihanlh" class="text-decoration-none text-light mb-5 col" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </section>
      <%- include('../partials/footer.ejs') %> 
  </body>
</html>